.header-mobile-close{
    display:none;
}
.ranking-card{
    &:hover{
        .more-btn-in-card{
            display:block;
        }
    }
}

.swiper-slide{
    &.swiper-slide-active {
        img{
            filter: grayscale(0);
        }
        .slide-text{
            position:absolute;
            display: block;
            @media (max-width:1024px) {
                position: unset;
            }
        }
        .slide-name{
            position:absolute;
            display: block;
        }
    }
}

.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    border-radius: 0;
    border:1px solid black;
    opacity:1;
    &.swiper-pagination-bullet-active {
        width:16px;
        background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
    }
}
// masonry hover

.grid-item{
    &:hover{
        img{
            filter: brightness(0.3);
        }
        .pic-info{
            display: block;
        }
    }
}

/* ---- grid ---- */

// .grid1 {
//     background: #DDD;
//   }
  
  /* clear fix */
//   .grid1:after {
//     content: '';
//     display: block;
//     clear: both;
//   }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 23.6%;
    @media (max-width:1400px) {
        width:23.1%;
    }
    @media (max-width:1060px) {
        width:48%;
    }
    @media (max-width:600px) {
        width:47.3%;
    }
    @media (max-width:475px) {
        width:46.4%;
    }
  }
  
  .grid-item {
    float: left;
    margin-bottom: 24px;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }