.header-mobile-close {
  display: none;
}

.ranking-card:hover .more-btn-in-card {
  display: block;
}

.swiper-slide.swiper-slide-active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.swiper-slide.swiper-slide-active .slide-text {
  position: absolute;
  display: block;
}
@media (max-width: 1024px) {
  .swiper-slide.swiper-slide-active .slide-text {
    position: unset;
  }
}
.swiper-slide.swiper-slide-active .slide-name {
  position: absolute;
  display: block;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 0;
  border: 1px solid black;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  background: -o-linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
  background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
}

.grid-item:hover img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}
.grid-item:hover .pic-info {
  display: block;
}

/* ---- grid ---- */
/* clear fix */
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 23.6%;
}
@media (max-width: 1400px) {
  .grid-sizer,
.grid-item {
    width: 23.1%;
  }
}
@media (max-width: 1060px) {
  .grid-sizer,
.grid-item {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .grid-sizer,
.grid-item {
    width: 47.3%;
  }
}
@media (max-width: 475px) {
  .grid-sizer,
.grid-item {
    width: 46.4%;
  }
}

.grid-item {
  float: left;
  margin-bottom: 24px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}